<div class= container %>
<%= form_with model: student do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= form.text_area :name, class: 'form-control',placeholder: 'NAME' %>
  </div><br>

  <div class="form-group">
    
    <%= form.text_field :class_section, class: 'form-control',placeholder:'Class with section' %>
  </div><br>

  <div class="field-form-group">
  
    <%= form.text_field :home_work,class: 'form-control',placeholder:'Assigned work' %>
  </div><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>